header {
  background-color: #27262c;
  color: #b7b7b7;
  border: 1px solid #b7b7b7;
}

.language-dropdown {
  cursor: pointer;
}

.language-dropdown .dropdown-content {
  background-color: #27262c;
  padding: 8px 16px;
  border-radius: 0 0 8px 8px;
}

main {
  background-color: #161718;
  color: #f2f2f2;
}
