body {
  font-family: "Vazirmatn", Arial, sans-serif;
}
header .container,
nav {
  flex-direction: row-reverse;
}
.language-dropdown {
  transform: translate(20px, 0px);
}

.about-section {
  @media only screen and (min-width: 1024px) {
    flex-direction: row-reverse;
  }
}

.about-profile {
  float: right;
  margin-left: 20px;
}

p,
h2,
address {
  direction: rtl;
}
