* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: auto;
  @media only screen and (max-width: 1024px) {
    width: 360px;
    padding: 8px;
  }
  @media only screen and (min-width: 1024px) {
    width: 1024px;
    padding: 16px;
  }
  @media only screen and (min-width: 1280px) {
    width: 1280px;
    padding: 24px;
  }
  @media only screen and (min-width: 1536px) {
    width: 1536px;
    padding: 32px;
  }
}

button {
  height: fit-content;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* dropdown shorthand*/
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* flex shorthands */
.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
}

.flex-row-8 {
  display: flex;
  gap: 8px;
}

.flex-col-8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
